.home {
    padding: 60px 0;
    /* background: url('../img/bg.jpg'); */
    /* background: url('https://images.unsplash.com/photo-1504193709978-8997be9ffcfb?auto=format&fit=crop&w=751&q=80'); */
    background: url('https://images.unsplash.com/photo-1495435229349-e86db7bfa013?auto=format&fit=crop&w=929&q=80');
    background-size: cover;
    background-position: fixed;
}

.home h1 {
    color: #fff;
    text-shadow: 2px 2px 30px #000;
}

.admin-login {
    background: url('https://images.unsplash.com/photo-1495435229349-e86db7bfa013?auto=format&fit=crop&w=929&q=80');
    background-size: cover;
    background-position: fixed;
}

.admin-body {
    background: #f1f1f1;
    border-top: 20px solid #007bff;
    padding: 40px 0;
}

.admin-menu {
    width: 200px;
    background: #fff;
}

.admin-menu a{
    color: #000;
}

.admin-menu a:hover{
    color: #fff;
    background: #007bff;
}

.table {
    background: #fff;
}

.table-admin thead {
    color: #fff;
}